body {
  font-family: "Roboto", sans-serif;
}

.footer-custom{
  width: 90%;
  /* height: 90%; */
  /* margin: auto; */
  margin-left: 5%;
  padding: 30px;
  /* background-color: rgba(33, 37, 41, 0.03); */
 text-align: end;
}

.clase-prueba{
display: inline-block;
padding: 10px 0;
}

.clase-prueba2{
  font-weight: bold;
}

.fondo-verde{
  background-color: #28A745;
}

.texto-verde{
  color: #28A745;
}
